pre{
	padding: 0;
	margin: 0;
	background: transparent;
	border:none;
	border-radius: 0;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
}

/*
 * highlightjs-material-dark-theme
 * Material Dark theme for Highlight.js
 * Based off of https://github.com/equinusocio/material-theme
 * For use with Highlight.js, https://github.com/isagalaev/highlight.js
 */


.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #2B2B2D;
  color: #CDD3D8;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
}

::selection {
  background-color: #414244;
}

.hljs-comment {
  color: #656565;
  font-style: italic;
}

.hljs-selector-tag {
  color: #C792EA;
}

.hljs-string,
.hljs-subst {
  color: #C3E88D;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #F77669;
}

.hljs-keyword {
  color: #C792EA;
}
.hljs-function > .hljs-title {
  color: #75A5FF;
}
.hljs-tag {
  color: #abb2bf;
}
.hljs-name {
  color: #e06c75;
}
.hljs-type {
  color: #da4939;
}

.hljs-attribute {
  color: #80CBBF;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: #C792EA;
}

.hljs-params {
  color: #EEFFF7;
}


.hljs-meta {
  color: #75A5FF;
}

.hljs-title {
  color: #75A5FF;
}

.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #FFCB68;
}

.hljs-selector-id {
  color: #F77669;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/**------ custom ----*/

.hljs{

}
.hljs, .codebox{
	background-color: #222222;
}

.codebox{
	margin-top:10px;
}

.codebox .meta{
	padding: 10px;
	padding-top:30px;
}

.codebox .meta i {
	width: 100%;
	font-size: 3.5rem;
	text-align: center;
	margin-bottom: 5px;
}

.fav{
	color:#F77669;
}


.codebox:first-child{
	margin-top: 3rem;
}
.score{
	font-size: 2rem;
	color: #fff;
}

.addans{
	padding-top: 20px;
	padding-bottom: 20px;
}

.addans textarea{
	background-color: transparent;
	color:#fff;
	border:none;
	min-height: 100px;
	max-height: 150px;
}
.addans textarea:focus, .addans textarea:active{
	box-shadow: none;


}
.userbox{
	background:  rgba(55, 55, 55, 0.94);
	text-align: center;
	padding: 10px;
	word-wrap: break-word;
	border-radius:0;
	margin-bottom: 0;
	margin-right: -15px;
}
.userbox a {
	color: #fff;
}

.algotitle{
	color: #fff;
	margin-bottom: 2rem;
	font-family: monospace, Helvetica;
}

.algolang{
	font-size: 1.5rem;
	color: #fff;
}
