@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|VT323');
body{
	background: #191919;
}

.content {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1.title{

	font-family: 'Source Code Pro', monospace;
	color: #fff;
	font-size: 80px;
}


.searchbox{
	border: 2px solid #fff;
	border-radius: 40px;
	background: transparent;
	padding: 10px 30px;
	height: 60px;
	width: 80%;
	margin: 30px auto;
	color: #fff;
	font-size:20px;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
}

.searchbox:focus, .searchbox:active{
	outline:none;
	box-shadow: none;
	border-color: #34BDAA;
}



@media(max-width:748px) {
	h1.title{
		font-size: 6rem;
		
	}
	.searchbox{
		width: 95%;
		border-radius: 4px;
		border: 1px solid #fff;
		height: 50px;
	}
}