@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|VT323');
body{
	background: #191919;
}

.content {
	width: 100%;
}

h1.title{
	font-family: 'Source Code Pro', monospace;
	color: #fff;
	font-size: 80px;
}

h2.title{
	font-size: 35px;
	color:#fff;	
	font-family: 'Source Code Pro', monospace;
	line-height: 15px;
}

.searchbox{
	border: 1.3px solid #fff;
	border-radius: 30px;
	background: transparent;
	padding: 10px 30px;
	height: 60px;
	width: 60%;
	margin: 30px auto;
	color: #fff;
	font-size:20px;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
}

.searchbox:focus, .searchbox:active{
	outline:none;
	box-shadow: none;
	border-color: #34BDAA;
}

.searchbox-small{
	height: 40px;
	width: 400px;
	border: 1px solid #606060;
	border-radius: 30px;
	margin-top:10px;
	margin-left:-15px;
	margin-bottom:10px;
	font-size: 14px;
	text-align: left;
}


header{
	padding: 5px 0 0 0;
	border-bottom: 1px solid #494949;
}

/** Search Results CSS */

#results{
	margin: 20px auto;
}

.resultbox{
	border: 0.8px solid #020101;
	border-radius:4px;
	padding: 15px 20px;
	background: #252525;
	margin-bottom: 20px;
}

.resultbox .meta {
	margin-top: 5px;
	color: #777777;

}

.stitle{
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.stitle:hover, .stitle:focus {
	color: #fff;
}

/** End */

@media(max-width:748px) {
	h1.title{
		font-size: 6rem;
		
	}
	.searchbox{
		width: 95%;
		border-radius: 4px;
		border: 1px solid #fff;
		height: 50px;
	}
}

@media (min-width: 748px) {
	.content{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-60%);
	}
}


