{% extends "main/layout.html" %}


{% block content %}

{% include "main/algo/nav.html" %}

<div class="container codebox">
	<div class="row">
		<div class="col-sm-2 col-lg-1 col-xs-hidden meta">
			<i class="glyphicon glyphicon-chevron-up"></i>
			<i class="glyphicon glyphicon-chevron-down"></i>
			<i class="glyphicon glyphicon-heart fav"></i>
		</div>
		<div class="col-sm-10 col-lg-11">
			<pre>	
				<code class="css">
h1.title{
	font-family: 'Source Code Pro', monospace;
	color: #fff;
	font-size: 80px;
}
				</code>
			</pre>
		</div>
	</div>
	
			<!--/container-->

</div>
{% endblock %}


{% block headextended %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/algoview.css' %}">
{% endblock %}