{% extends "main/layout.html" %}


{% block content %}

{% include "main/navbar.html" %}

<div class="container ">
	<h1 class="algotitle" > {{ algo.name }} </h1>
	<p class="lead algolang"> 
		in <span class="label label-danger"> {{ lang }}</span> 
	</p>
	<div class="row codebox">
		<div class="col-sm-2 col-lg-1 col-xs-hidden meta">
			<i class="glyphicon glyphicon-chevron-up"></i>
			<p class="text-center score">0</p>
			<i class="glyphicon glyphicon-chevron-down"></i>
			<!-- #TODO: Add favourites in second stage -->
			<!-- <i class="glyphicon glyphicon-heart fav"></i> -->
		</div>
		<div class="col-sm-10 col-lg-11">
			<pre>	
				<code class="css">
h1.title{
	font-family: 'Source Code Pro', monospace;
	color: #fff;
	font-size: 80px;
}
				</code>
			</pre>
		</div>
		<div class="col-sm-3 col-lg-2 col-sm-offset-9 col-lg-offset-10">
			<div class="userbox">
				<a href="/user/id"> Poush </a>
			</div>
		</div>
	</div>
	
	<div class="row ">
		<div class="container codebox addans">
			<textarea class="form-control" v-model="data" placeholder="Submit your own version of algorithm"></textarea>
			<button class="btn btn-danger pull-right" style="margin-top:20px;">Post Your Algorithm</button>
			
			<div class="container">
				<pre>
					<code class="css">{{ "{{data}" }}}</code>
				</pre>
			</div>

		</div>

	</div>
	<!-- Disqus -->
	<div class="row codebox">
		<div class="container">
			<div id="disqus_thread"></div>
		</div>
	</div>
	<!-- ./Disqus -->

</div>



<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = '//qanda-2.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



{% endblock %}


{% block headextended %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/algoview.css' %}">
{% endblock %}

{% block footerextended %}
	<!-- TODO: second stage, change languages -->
	<script type="text/javascript">
		$('#selectlang').popover();
	</script>
{% endblock %}