{% extends "main/layout.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}


<div class="col-sm-12">
	<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<form method="post" action=".">
				  {% csrf_token %} 
				  {{ form.as_p }}

				  <input type="submit" value="{% trans 'Submit' %}" />
				</form>
			</div>
		</div>
	</div>
</div>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}

{% block headextended %}
<style type="text/css">
input {
    width: 100%;
    outline: none;
}

.help-block {
    font-weight: 400;
}

.help-block strong {
    color: #c73e3e;
    font-weight: 400;
}

.panel {
    margin-top: 100px;
}
</style>
{% endblock %} {% block footerextended %}
<script>
$('input').addClass('form-control')
</script>
{% endblock %}