{% extends "main/layout.html" %}
{% load i18n %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
	<div class="alert alert-danger">
		<p>
			{% trans "You are now registered. Activation email sent." %}
			<a href="{% url 'login' %}">
				<i class="glyphicon glyphicon-remove pull-right"></i>
			</a>
			
		</p>
	</div>
</div>

{% endblock %}


{% block headextended %}
<style>
	a{
		color: rgb(167, 30, 27);
	}

	a:hover{
		color: rgb(167, 30, 27);
	}
	.alert{
		margin-top: 100px;
	}
</style>
{% endblock %}