<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	{% load static %}
	<link rel="manifest" href="{% static 'main/manifest.json' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/style.css' %}">
	<link rel="stylesheet" href="{% static 'highlight/src/styles/atom-one-dark.css' %}">
	<title>algoBook : The Curated Book of Algorithms</title>
</head>
<body >
	<div class="container-fluid" id="app">
		<div class="content">
			<h1 class="title text-center"> algoBook</h1>
			<form id="form" action="./search" class="form" method="get">
				<input type="text" v-model="query" class="form-control searchbox">
			</form>
			{{ query }}
		</div>
	</div>

	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vue/dist/vue.min.js' %}"></script>
	<script src="{% static 'main/app.js' %}"></script>
	<script src="{% static 'highlight/src/highlight.js' %}"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script>
		$('#form').submit(function(e){
			e.preventDefault();
			location = ($('input').val()).split(" ").join("+")
		})
	</script>

</body>
</html>
