<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"> {% load static %}
    <link rel="manifest" href="{% static 'main/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'highlight/src/styles/atom-one-dark.css' %}">
    <title>algoBook : The Curated Book of Algorithms</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
             {% if request.user.is_authenticated %}
            <div class="dropdown pull-right">
                <button class="btn btn-default" style="outline:none !important; margin-top:20px;" type="button" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                    Welcome back {{ request.user }}! 
                    <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                        <a class="text-muted" href="../user/{{user.username}}"> 
                            Profile
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'auth_logout' %}?next={{ request.get_full_path }}"> Logout </a></li>
              </ul>
            </div>
            {% endif %}
            {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                <a href='{% url "auth_login" %}?next={{ request.get_full_path }}' class="btn btn-default btn-md pull-right" style="margin-top:20px;">Login</a> 
            {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                <img class="center-block img-responsive" src="{% static 'images/logo.png' %}" alt="">
            </div>
            <form id="form" action="./search" class="form" method="get">
                <input type="text" v-model="query" class="form-control searchbox" placeholder="Search for Algorithms">
            </form>
        </div>
    </div>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'main/app.js' %}"></script>
    <script src="{% static 'highlight/src/highlight.js' %}"></script>
    <script>
    hljs.initHighlightingOnLoad();
    </script>
    <script>
    getSearchQuery = function(query){
        var pos = query.lastIndexOf(" in ")
        query = query.replace(/ /g,"+")
        if( pos != -1)
        {
            var sub = query.substr(pos+4)
            return query.substr(0,pos) + "?lang=" + sub;
        }
        else
            return query
    };
    $('#form').submit(function(e) {
        e.preventDefault();
        location = getSearchQuery($("input").val())
    })

    var i = 0;
    strings = [
        'Start with "Binary Search in C"',  
        "Use 'in' keyword to specify language",
        "Learn and Share!"
    ]
    function changePlaceholder(){
        $('input').attr("placeholder", strings[i])
        i++
    }

    setInterval(changePlaceholder, 3000)
    </script>
</body>

</html>
