<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"> {% load static %}
    <link rel="manifest" href="{% static 'main/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'highlight/src/styles/atom-one-dark.css' %}">
    <title>algoBook : The Curated Book of Algorithms</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <ul class="nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="dropdown nav-user">
                        <button href="#" class="btn btn-warning pull-right btn-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px; margin-top:20px; margin-right:30px; outline: 0"> Welcome back {{ request.user }}! <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="margin-right:30px;">
                            <li>
                                <a class="text-muted"> <em> My Profile (coming soon) </em> </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'auth_logout' %}?next={{ request.get_full_path }}"> Logout </a></li>
                        </ul>
                    </li>
                    {% endif %} {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                    <a href='{% url "auth_login" %}?next={{ request.get_full_path }}' class="btn btn-primary btn-md" style=" border-radius: 0px; margin-top:20px; margin-right:30px;">Login</a> {% endif %}
                </ul>
            </div>
        </div>
        <div class="content">
            <h1 class="title text-center"> algoBook</h1>
            <form id="form" action="./search" class="form" method="get">
                <input type="text" v-model="query" class="form-control searchbox">
            </form>
        </div>
    </div>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'main/app.js' %}"></script>
    <script src="{% static 'highlight/src/highlight.js' %}"></script>
    <script>
    hljs.initHighlightingOnLoad();
    </script>
    <script>
    $('#form').submit(function(e) {
        e.preventDefault();
        location = ($('input').val()).split(" ").join("+")
    })
    </script>
</body>

</html>
