<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	{% load static %}
	<link rel="manifest" href="{% static 'main/manifest.json' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/style.css' %}">
	<title>algoBook : The Curated Book of Algorithms</title>
</head>
<body>
	<div class="container-fluid">
		<div class="content">
			<h1 class="title text-center"> algoBook</h1>
			<input type="text" class="form-control searchbox">
		</div>
	</div>
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vue/dist/vue.min.js' %}"></script>
	<script src="{% static 'main/scripts/app.js' %}"></script>


</body>
</html>