<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	{% load static %}
	<link rel="manifest" href="{% static 'main/manifest.json' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/style.css' %}">
	<title>algoBook : The Curated Book of Algorithms</title>
</head>
<body>

	{% include "main/navbar.html" %}

	{% block content %} {% endblock %}

	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vue/dist/vue.min.js' %}"></script>
	<script src="{% static 'main/app.js' %}"></script>


</body>
</html>
