<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	{% load static %}
	<link rel="manifest" href="{% static 'main/manifest.json' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/style.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'highlight/src/styles/atom-one-dark.css' %}"> -->
	{% block headextended %} {% endblock %}
	<title>algoBook : The Curated Book of Algorithms</title>
</head>
<body>

	<div id="app">
	{% block content %} {% endblock %}
	</div>

	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vue/dist/vue.min.js' %}"></script>
	<script src="{% static 'main/app.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
	<script>
		$(document).ready(function() {
		  $('pre code').each(function(i, block) {
		    hljs.highlightBlock(block);
		  });
		});
	</script>

	{% block footerextended %} {% endblock %}

</body>
</html>
