 <header class="">
    <div class="container-fluid">
        {% block content %}

        <div class="row">
        	<div class="visible-xs">
                <span style="display: none" id="squery">{{query}}</span>
	            <form class="form-query" action="./search" class="form" method="get">
	                <input type="text" v-model="query" class="form-control searchbox searchbox-mobile" v-on:keyup="getData({{ query }})" placeholder="Search..." v-model="query">
	            </form>
        	</div>
        </div>

        <div class="col-sm-2 col-xs-6">
            <a href="../../" class="nohover"> <h2 class="title"> algoBook  </h2></a>
        </div>
        <div class="col-sm-6 hidden-xs">
            <form class="form-query" action="./search" method="get">
                <input type="text" query="{{query}}" v-model="query" id="searchbox" class="form-control searchbox searchbox-small" v-on:keyup="getData({{query}})">
            </form>
        </div>


        <div class="col-sm-4 col-xs-6">
            <ul class="nav navbar-right">
                {% if request.user.is_authenticated %}
                <li class="dropdown nav-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ request.user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="text-muted"> <em> My Profile (coming soon) </em> </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}?next={{ request.get_full_path }}"> Logout </a></li>
                    </ul>
                </li>
                {% endif %} {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                <li class="dropdown nav-user">
                    <a href='{% url "auth_login" %}?next={{ request.get_full_path }}'>Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endblock %}
    </div>
</header>
