{% extends 'main/layout.html' %}


{% block content %}
{% include 'main/navbar.html' %}
<div class="container" style="margin-top: 20px;">
	<div class="alert alert-danger" id="warn">
		<div class="container">
		<div class="col-xs-10">
			<strong>Heads up!</strong> We are currently in beta stage and preparing for your awesome profile at algoBook. Contribution graph will be our main focus
			<a href="#" onclick="$('#warn').remove()" style="color:red">
				<i class="glyphicon glyphicon-remove pull-right"></i>
			</a>
		</div>
		</div>
	</div>
	
	<div class="container">
		<h2 style="color: #f4f4f4">{{ user.username }}'s Algorithms</h2>
	</div>

	{% for code in codes %}

		<div class="resultbox" v-show="keepit">
			<a class="stitle" href="/algo/{{code.algo.slug}}#code-{{code.id}}"> {{ code.algo.name }} </a>
			<p class="meta"> {{ code.algo.description }}</p>
		</div>
	{% endfor %}

</div>

{% endblock %}